body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-purple: #5654de;
  --gray-text-color: #c4c4c4;
  --white-text-color: #fafafa;
  --mode-icon-color: #51718c;
  --background-color-primary: #d8e6f2;
  --background-color-secondary: #adc5d9;
  --text-primary-color: #022840;
  --text-secondary-color: #c4c4c4;
  --danger-color: #f20544;
}
[data-theme="dark"] {
  --background-color-primary: #022840;
  --background-color-secondary: #1d4259;
  --text-primary-color: #fafafa;
  --text-secondary-color: #c4c4c4;
}
